* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

button:active,
button:focus {
  border:none!important;
  outline: none!important;
}
