* {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Arimo', sans-serif;
}

h2,h3, h4 {
  // color: $secondary-color;
  font-family: 'lobster', cursive;
  // font-family: 'Clicker Script', cursive;
  letter-spacing: 1px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  // font-weight: bold;
}
label {

  font-weight: 400;
}
