* {
  // font-family: 'Merriweather', serif!important;
    font-family: $open-sans;
}

body {
  color: $prim-font-color;
}

h2,h3, h4 {
  // color: $secondary-color;
  font-family: $hind;;

  letter-spacing: 1px;
  color: $primary-color!important;
  font-weight: 100;
}

h2 {
  font-size: 24px;

}

h3 {
  font-size: 22px;
  // font-weight: bold;
}
label {
  font-weight: 400;
}

p {
  font-size: 16px;
}

a {
  color: $primary-color;
}
