* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

li {
  list-style: none; }

button:active,
button:focus {
  border: none !important;
  outline: none !important; }

.custombutton {
  background-color: #0D5976;
  border-color: #ccc;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 16px; }

.alert-danger b {
  color: #a94442 !important; }

* {
  font-family: "Open Sans", sans-serif; }

body {
  color: #424242; }

h2, h3, h4 {
  font-family: "Hind", sans-serif;
  letter-spacing: 1px;
  color: #0D5976 !important;
  font-weight: 100; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

label {
  font-weight: 400; }

p {
  font-size: 16px; }

a {
  color: #0D5976; }

body {
  background: #f4f4f4;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

.wrapper {
  color: black !important;
  margin-top: 2.5em; }

/*

================================================================================
--------------------------------------------------------------------------------

                                NAVBAR
--------------------------------------------------------------------------------
================================================================================

*/
.navbar {
  background: #0D5976;
  border: none;
  height: 3em; }
  .navbar .logg-out button {
    background: none;
    color: #fff;
    border: none;
    font-weight: bold;
    color: #f4f4f4 !important;
    padding-top: 15px;
    padding-bottom: 15px; }

.navbar .logo {
  color: #fff; }

.navbar .pages li {
  float: left;
  width: 7em;
  text-align: center; }

.navbar li a {
  font-weight: bold;
  color: #f4f4f4 !important; }

.navbar li.active a {
  background: #f4f4f4 !important;
  color: black !important; }

.navbar-form {
  width: 59%; }

.navbar-form .form-group {
  width: 70% !important; }

.navbar-form input[type='text'] {
  width: 103%;
  background: #f4f4f4; }

.navbar-form button {
  border: none;
  background: #f4f4f4; }

.navbar-form button:hover {
  background: #fffcf2; }

.navbar-form button i {
  color: #0D5976; }

/*

================================================================================
--------------------------------------------------------------------------------

                              SIDEBAR
--------------------------------------------------------------------------------
================================================================================

*/
.sidebar {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  background: #0D5976;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  overflow-x: hidden; }

.sidebar button.close i {
  margin-right: 1em;
  margin-top: 0.4em;
  font-size: 32px; }

.sidebar nav {
  margin-top: 4em;
  margin-left: 1.5em; }

.sidebar h2,
.sidebar h3,
.sidebar h4 {
  color: #f4f4f4; }

.sidebar label {
  color: #f4f4f4;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-weight: bold; }

.sidebar input[type='checkbox'] {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden; }

.sidebar label input {
  margin-right: 5px !important; }

/*

================================================================================
--------------------------------------------------------------------------------

                              MAIN CONTAINER
--------------------------------------------------------------------------------
================================================================================

*/
.open {
  background: none;
  border: none;
  font-size: 32px;
  margin-left: 1.2em;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.open:hover {
  opacity: .5; }

.titel,
.sort {
  margin-right: 4em; }

/*

================================================================================
--------------------------------------------------------------------------------

                                VACATUREs
--------------------------------------------------------------------------------
================================================================================

*/
.item {
  background: #fff;
  opacity: 0.8;
  width: 75%;
  min-height: 20em;
  height: auto;
  margin-bottom: 1em;
  padding: 0.5em 3em; }
  .item h2 {
    color: #424242; }
  .item .item-info {
    display: block;
    clear: both;
    padding-left: 1em;
    margin-bottom: 10px; }
    .item .item-info span {
      display: inline-block;
      font-weight: bold;
      padding-right: 1em;
      text-decoration: underline; }
    .item .item-info span i {
      padding-right: 5px; }
  .item span a {
    position: absolute;
    bottom: 2em;
    right: 2em; }
  .item .item-content {
    clear: both; }
  .item .item-content .desc {
    padding-left: 1em;
    border-top: 1px dashed black;
    padding-top: 20px; }

.vacature {
  width: 100%; }

.vacature .info {
  margin-bottom: 10em; }

.vacature form button {
  margin-top: 2em;
  position: absolute;
  bottom: 2em; }

  /*

  ================================================================================
  --------------------------------------------------------------------------------

                                  FILTERS
  --------------------------------------------------------------------------------
  ================================================================================
  */
.filters {
  width: 22%;
  display: inline-block;
  margin-left: 2em; }

.filters .filterfield {
  background: #fff;
  height: 20em;
  margin-bottom: .5em;
  padding: 1em 2em;
  overflow-x: hidden; }
  .filters .filterfield h2 {
    font-size: 22px; }
  .filters .filterfield label {
    display: block;
    font-size: 16px; }
    .filters .filterfield label input {
      margin-right: 5px;
      border-radius: 50px; }

/*

================================================================================
--------------------------------------------------------------------------------

                              Login page
--------------------------------------------------------------------------------
================================================================================

*/
.login,
.register {
  margin-top: 4em;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 3px; }

.login form input[type=text],
.login form input[type=password],
.login form input[type='email'],
.register form input[type=text],
.register form input[type=password],
.register form input[type='email'] {
  height: 50px;
  font-size: 16px;
  color: grey; }

.login label,
.register label {
  font-family: "Hind", sans-serif;
  font-weight: 700; }

.login form,
.register form {
  margin-bottom: 2em; }

.register {
  overflow-y: scroll;
  height: 50em; }

/*

================================================================================
--------------------------------------------------------------------------------

                          PROFIEL
--------------------------------------------------------------------------------
================================================================================

*/
.profile .profile-header img {
  max-width: 15em; }
.profile .profile-header .user-info span {
  display: block;
  font-size: 18px; }
.profile .profile-header .blok1 {
  float: left;
  width: 30%; }

.profile-desc {
  margin-top: 7em; }
